@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css *//* Document
   ========================================================================== *//**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}/* Sections
   ========================================================================== *//**
 * Remove the margin in all browsers.
 */body {
  margin: 0;
}/**
 * Render the `main` element consistently in IE.
 */main {
  display: block;
}/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */h1 {
  font-size: 2em;
  margin: 0.67em 0;
}/* Grouping content
   ========================================================================== *//**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/* Text-level semantics
   ========================================================================== *//**
 * Remove the gray background on active links in IE 10.
 */a {
  background-color: transparent;
}/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */b,
strong {
  font-weight: bolder;
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/**
 * Add the correct font size in all browsers.
 */small {
  font-size: 80%;
}/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sub {
  bottom: -0.25em;
}sup {
  top: -0.5em;
}/* Embedded content
   ========================================================================== *//**
 * Remove the border on images inside links in IE 10.
 */img {
  border-style: none;
}/* Forms
   ========================================================================== *//**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */button,
input { /* 1 */
  overflow: visible;
}/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */button,
select { /* 1 */
  text-transform: none;
}/**
 * Correct the inability to style clickable types in iOS and Safari.
 */button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}/**
 * Remove the inner border and padding in Firefox.
 */button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}/**
 * Restore the focus styles unset by the previous rule.
 */button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}/**
 * Correct the padding in Firefox.
 */fieldset {
  padding: 0.35em 0.75em 0.625em;
}/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */progress {
  vertical-align: baseline;
}/**
 * Remove the default vertical scrollbar in IE 10+.
 */textarea {
  overflow: auto;
}/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/* Interactive
   ========================================================================== *//*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */details {
  display: block;
}/*
 * Add the correct display in all browsers.
 */summary {
  display: list-item;
}/* Misc
   ========================================================================== *//**
 * Add the correct display in IE 10+.
 */template {
  display: none;
}/**
 * Add the correct display in IE 10.
 */[hidden] {
  display: none;
}*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}a{
    text-decoration: none;
}li{
    list-style: none;
}img{
    width: 100%;
    height: auto;
}.btn-download{
    padding: 15px 20px;
    display: inline-block;
    background-color: #eee;
    text-align: center;
    font-size: 1rem;
}.btn-download:hover{
    background-color: #ccc;
    cursor: pointer;
}.download{
 
    background-color: #fff;
    box-sizing: border-box;
    width: 56.25rem;
    margin: 6.25rem auto;
    position: fixed;
    top: 6.25rem;
    left: 15%;
    z-index: 9999;
    padding: 2rem;
    display: none;
}.download__heading{
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }.download__icon{
        margin: 15px 0;
    }.download__heading i{
        padding: 5px;
    }.download__heading i:hover{
        padding: 5px;
        background: #ccc;
        cursor: pointer;
    }.download__form input{
        width: 100%;
        display: inline-block;
        padding: 10px 5px;
        font-size: 1rem;
        margin-bottom: 10px;
    }.download__form button{
        display: inline-block;
        width: 100%;
        padding: 10px 5px;
        font-size: 1rem;
        background: #f44336;
        color: #fff;
        border: 1px solid #f44336;
    }.download__form button:hover{
        background: #ccc;
        border: 1px solid #ccc;
        color: #000;
        cursor: pointer;
    }.showcase{
    position: relative;
}.showcase__download-card{
        margin-left: 10px;
        background: #000;
        opacity: 0.6;
        border-radius: 10px;
        width: 32%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding-bottom: 1.5rem;
    }.showcase__title{
        color: #fff;
        text-align: center;
        max-width: 90%;
        font-size: 1.6rem;
        padding: 1.5rem 0;
        margin: 0 auto;
        border-bottom: solid 1px #eee;
        font-weight: 300;
    }.showcase__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }.showcase__download{
        background: #4caf50;
        max-width: 90%;
        height: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }.showcase__download-card:hover{
        opacity: 1;
    }.showcase__download:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.showcase__tour{
        padding: 12px;
        display: inline-block;
        background: black;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90%;
        border-radius: 5px;
    }.showcase__tour:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.showcase1{
    position: relative;
    display: none;
}.showcase1__download-card{
        margin-left: 10px;
        background: #000;
        opacity: 0.6;
        border-radius: 10px;
        width: 32%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding-bottom: 1.5rem;
    }.showcase1__title{
        color: #CD4336;
        text-align: center;
        max-width: 90%;
        font-size: 1.6rem;
        padding: 1.5rem 0;
        margin: 0 auto;
        border-bottom: solid 1px #eee;
        font-weight: 300;
    }.showcase1__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }.showcase1__download{
        background: #CD4336;
        max-width: 90%;
        height: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }.showcase1__download-card:hover{
        opacity: 1;
    }.showcase1__download:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.showcase1__tour{
        padding: 12px;
        display: inline-block;
        background: black;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90%;
        border-radius: 5px;
    }.showcase1__tour:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.showcase2{
    position: relative;
    display: none;
}.showcase2__download-card{
        margin-left: 10px;
        background: #000;
        opacity: 0.6;
        border-radius: 10px;
        width: 32%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding-bottom: 1.5rem;
    }.showcase2__title{
        color: #fff;
        text-align: center;
        max-width: 90%;
        font-size: 1.6rem;
        padding: 1.5rem 0;
        margin: 0 auto;
        border-bottom: solid 1px #eee;
        font-weight: 300;
    }.showcase2__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }.showcase2__download{
        background: #3f51b5;
        max-width: 90%;
        height: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }.showcase2__download-card:hover{
        opacity: 1;
    }.showcase2__download:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.showcase2__tour{
        padding: 12px;
        display: inline-block;
        background: black;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90%;
        border-radius: 5px;
    }.showcase2__tour:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }.the-app{
    display: grid;
    grid-template-columns: 5fr 1.8fr;
    padding: 5rem 1rem;
    grid-gap: 5rem;
}.the-app__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
    }.the-app__subtitle{
        font-size: 2.5rem;
        color: #4CAF50;
        font-weight: 600;
        margin-bottom: 20px;
    }.the-app__description1{
        margin-bottom: 20px;
        line-height: 1.5rem;
    }.the-app__description span{
        font-size: 1.5rem;
    }.the-app__available{
        margin-top: 25px;
    }.the-app .fa-android{
        color: #4CAF50;
        font-size: 1.5rem;
    }.the-app .fa-windows{
        color: #2196F3;
        font-size: 1.5rem;
    }.the-app .fa-apple{
        font-size: 1.5rem;
    }.clarity{
    display: grid;
    grid-template-columns: 1.8fr 5fr;
    padding: 5rem 2rem;
    grid-gap: 5rem;
    background: #eee;
}.clarity__img{
        border-radius: 10px;
        overflow: hidden;
        -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
    }.clarity__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
    }.clarity__subtitle{
        font-size: 2.5rem;
        color: #F44336;
        font-weight: 600;
        margin-bottom: 20px;
    }.clarity__description1{
        margin-bottom: 20px;
        line-height: 1.5rem;
    }.clarity__description span{
        font-size: 1.5rem;
    }.features{
    background: #616161;
    padding: 5rem 2rem;
    padding-bottom: 2rem;
}.features__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }.features__subtitle{
        font-size: 1rem;
        color: #fff;
        margin-bottom: 3rem;
        text-align: center;
    }.features__grids{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2.5rem;
        color: #fff;
    }.features__grids i{
        font-size: 3.3rem;
        margin-bottom: 10px;
    }.features .fa-bolt{
        color: #FF9800;
    }.features .fa-heart{
        color: #F44336;
    }.features .fa-camera{
        color: #D2BE0E;
    }.features .fa-battery-full{
        color: #4CAF50;
    }.features .fa-cloud{
        color: #2196F3;
    }.features .fa-globe{
        color: #FFC107;
    }.features .fa-hdd-o{
        color: #00BCD4;
    }.features .fa-shield{
        color: #FF9800;
    }.features .fa-wifi{
        color: #757575;
    }.features .fa-image{
        color: #E91E63;
    }

