.btn-download{
    padding: 15px 20px;
    display: inline-block;
    background-color: #eee;
    text-align: center;
    font-size: 1rem;
}
.btn-download:hover{
    background-color: #ccc;
    cursor: pointer;
}