.clarity{
    display: grid;
    grid-template-columns: 1.8fr 5fr;
    padding: 5rem 2rem;
    grid-gap: 5rem;
    background: #eee;
    
    &__img{
        border-radius: 10px;
        overflow: hidden;
        filter: grayscale(80%);
    }
     &__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 2.5rem;
        color: #F44336;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__description1{
        margin-bottom: 20px;
        line-height: 1.5rem;
    }
    &__description span{
        font-size: 1.5rem;
    }
}