.download{
 
    background-color: #fff;
    box-sizing: border-box;
    width: 56.25rem;
    margin: 6.25rem auto;
    position: fixed;
    top: 6.25rem;
    left: 15%;
    z-index: 9999;
    padding: 2rem;
    display: none;
    
    &__heading{
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    &__icon{
        margin: 15px 0;
    }
    &__heading i{
        padding: 5px;
    }
    &__heading i:hover{
        padding: 5px;
        background: #ccc;
        cursor: pointer;
    }
    &__form input{
        width: 100%;
        display: inline-block;
        padding: 10px 5px;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    &__form button{
        display: inline-block;
        width: 100%;
        padding: 10px 5px;
        font-size: 1rem;
        background: #f44336;
        color: #fff;
        border: 1px solid #f44336;
    }
    &__form button:hover{
        background: #ccc;
        border: 1px solid #ccc;
        color: #000;
        cursor: pointer;
    }
}