.features{
    background: #616161;
    padding: 5rem 2rem;
    padding-bottom: 2rem;
    &__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
    &__subtitle{
        font-size: 1rem;
        color: #fff;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__grids{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2.5rem;
        color: #fff;
    }
    &__grids i{
        font-size: 3.3rem;
        margin-bottom: 10px;
    }
    .fa-bolt{
        color: #FF9800;
    }
    .fa-heart{
        color: #F44336;
    }
    .fa-camera{
        color: #D2BE0E;
    }
    .fa-battery-full{
        color: #4CAF50;
    }
    .fa-cloud{
        color: #2196F3;
    }
    .fa-globe{
        color: #FFC107;
    }
    .fa-hdd-o{
        color: #00BCD4;
    }
    .fa-shield{
        color: #FF9800;
    }
    .fa-wifi{
        color: #757575;
    }
    .fa-image{
        color: #E91E63;
    }
}