.showcase1{
    position: relative;
    display: none;
    
    &__download-card{
        margin-left: 10px;
        background: #000;
        opacity: 0.6;
        border-radius: 10px;
        width: 32%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding-bottom: 1.5rem;
    }
    &__title{
        color: #CD4336;
        text-align: center;
        max-width: 90%;
        font-size: 1.6rem;
        padding: 1.5rem 0;
        margin: 0 auto;
        border-bottom: solid 1px #eee;
        font-weight: 300;
    }
    &__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }
    &__download{
        background: #CD4336;
        max-width: 90%;
        height: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }
    &__download-card:hover{
        opacity: 1;
    }
    &__download:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }
    &__tour{
        padding: 12px;
        display: inline-block;
        background: black;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90%;
        border-radius: 5px;
    }
    &__tour:hover{
        background: #fff;
        color: #000;
        cursor: pointer;
    }
}