.the-app{
    display: grid;
    grid-template-columns: 5fr 1.8fr;
    padding: 5rem 1rem;
    grid-gap: 5rem;
    
    &__title{
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 2.5rem;
        color: #4CAF50;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__description1{
        margin-bottom: 20px;
        line-height: 1.5rem;
    }
    &__description span{
        font-size: 1.5rem;
    }
    &__available{
        margin-top: 25px;
    }
    .fa-android{
        color: #4CAF50;
        font-size: 1.5rem;
    }
    .fa-windows{
        color: #2196F3;
        font-size: 1.5rem;
    }
    .fa-apple{
        font-size: 1.5rem;
    }
}